{% extends "blog/base.html" %}
{% load static %}

{% block title %}
   About
{% endblock title %}
    
{% block content %}
    <div class="col-sm-10">
      <h3 class="text-white my-5">About Page</h3>
    </div>
    
   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque earum recusandae dolorum commodi, sequi molestiae, quo aperiam suscipit, nobis ea incidunt laudantium animi voluptatibus saepe maiores? Ipsam minus ex, rerum magnam doloribus dicta iste obcaecati magni perferendis dolore facilis molestiae consectetur repudiandae voluptate aliquid. At qui expedita, fuga architecto ipsum debitis dicta, ipsam odio ad autem, sint totam quas aut a odit veritatis modi? Esse quae provident ullam ratione cum dolores ducimus rem quasi est molestiae, deleniti dicta assumenda consequatur quos illo iusto earum veniam maiores laudantium magni minima quaerat obcaecati commodi. Totam, eaque nemo consectetur tempore modi fugiat odit.</p>
{% endblock content %}
    

